<ion-header>


  <ion-toolbar>
    <ion-title>
      Postitivity Journal
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="presentActionSheet()">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>



  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content>

    <ion-card *ngFor="let journal of journals">
      <img width="100" height="200" src="assets/img/apple.png">
      <ion-card-header>
        <ion-card-title>{{journal.title }}</ion-card-title>
        <ion-card-subtitle>{{journal.date}}</ion-card-subtitle>


      </ion-card-header>
      <ion-card-content>
        {{journal.text}}
      </ion-card-content>
    </ion-card>


  </ion-content>