<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Back" [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
    <ion-title>moowd</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        schließen
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-buttons slot="end">
  <ion-button (click)="save()">
    speichern
  </ion-button>
</ion-buttons>

</ion-toolbar>
<ion-toolbar color="primary">
  <ion-title>{{date}}</ion-title>
</ion-toolbar>


<ion-content>
  <ion-item>

    <ion-textarea [(ngModel)]="diaryText" autofocus="true" rows="30" cols="20"
      placeholder="Enter your thoughts here...">
    </ion-textarea>

  </ion-item>
</ion-content>