<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="todos">
      <ion-icon name="brush-outline"></ion-icon>
      <ion-label>Todos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calender">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Kalender</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="journal">
      <ion-icon name="library-outline"></ion-icon>
      <ion-label>Journal</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="goals">
      <ion-icon name="flag-outline"></ion-icon>
      <ion-label>Goals</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="talk">
      <ion-icon name="sunny-outline"></ion-icon>
      <ion-label>Talk</ion-label>
    </ion-tab-button>



  </ion-tab-bar>

</ion-tabs>