<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Back" [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="save()">Speichern</ion-button>
    </ion-buttons>
    <ion-title>moowd</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-button *ngIf="!moodisSet" (click)="setMood('Sehr Traurig')">:'(</ion-button>
    </ion-col>
    <ion-col>
      <ion-button *ngIf="!moodisSet" (click)="setMood(' Traurig')">:(</ion-button>
    </ion-col>
    <ion-col>
      <ion-button *ngIf="!moodisSet" (click)="setMood('Mittel')">:|</ion-button>
    </ion-col>
    <ion-col>
      <ion-button *ngIf="!moodisSet" (click)="setMood('Fröhlich')">:)</ion-button>
    </ion-col>
    <ion-col>
      <ion-button *ngIf="!moodisSet" (click)="setMood('Sehr Fröhlich')">:')</ion-button>
    </ion-col>
  </ion-row>






  <ion-item-divider></ion-item-divider>

  <ion-toolbar>
    <ion-segment color="primary" (ionChange)="segmentChanged($event)" value="postiv">
      <ion-segment-button value="postiv">
        <ion-label>Positiv </ion-label>
      </ion-segment-button>
      <ion-segment-button value="negativ">
        <ion-label>Negativ </ion-label>
      </ion-segment-button>
    </ion-segment>

  </ion-toolbar>
  <ng-container *ngIf="isPositiv">
    <ion-row>
      <ion-col>
        <ion-chip>
          <ion-label color="secondary">aufgeregt</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col>
        <ion-chip>
          <ion-label color="secondary">bestätigt</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col>
        <ion-chip>
          <ion-label color="secondary">inspiriert</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-chip>
          <ion-label color="secondary">aufgeregt</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col>
        <ion-chip>
          <ion-label color="secondary">bestätigt</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col>
        <ion-chip>
          <ion-label color="secondary">inspiriert</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-chip>
          <ion-label color="secondary">aufgeregt</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col>
        <ion-chip>
          <ion-label color="secondary">bestätigt</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col>
        <ion-chip>
          <ion-label color="secondary">inspiriert</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-chip>
          <ion-label color="secondary">aufgeregt</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col>
        <ion-chip>
          <ion-label color="secondary">bestätigt</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col>
        <ion-chip>
          <ion-label color="secondary">inspiriert</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-chip>
          <ion-label color="secondary">aufgeregt</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col>
        <ion-chip>
          <ion-label color="secondary">bestätigt</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col>
        <ion-chip>
          <ion-label color="secondary">inspiriert</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
  </ng-container>

  <ng-container *ngIf="!isPositiv">
    <ion-row>
      <ion-col>
        <ion-chip>
          <ion-label color="secondary">negativ</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col>
        <ion-chip>
          <ion-label color="secondary">negativ</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col>
        <ion-chip>
          <ion-label color="secondary">negativ</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-chip>
          <ion-label color="secondary">negativ</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col>
        <ion-chip>
          <ion-label color="secondary">negativ</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col>
        <ion-chip>
          <ion-label color="secondary">negativ</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-chip>
          <ion-label color="secondary">negativ</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col>
        <ion-chip>
          <ion-label color="secondary">negativ</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col>
        <ion-chip>
          <ion-label color="secondary">negativ</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-chip>
          <ion-label color="secondary">negativ</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col>
        <ion-chip>
          <ion-label color="secondary">negativ</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col>
        <ion-chip>
          <ion-label color="secondary">negativ</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-chip>
          <ion-label color="secondary">negativ</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col>
        <ion-chip>
          <ion-label color="secondary">negativ</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col>
        <ion-chip>
          <ion-label color="secondary">negativ</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
  </ng-container>

</ion-content>