<ion-header>
  <ion-toolbar>

    <ion-title>Zusammenfassung</ion-title>

    <ion-buttons slot="start">
      <ion-back-button text="Back" [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">

      <ion-item>
        <ion-label> Ziel: </ion-label>
        <ion-label> {{ newGoalName }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label> Warum: </ion-label>
        <ion-label> {{ newGoalWhy }}
        </ion-label>
      </ion-item>

      <ion-item-divider></ion-item-divider>
      <ion-item>
        <ion-label>Meilensteine hinzugügen
        </ion-label>
      </ion-item>
      <ion-item *ngFor="let step of steps">
        <ion-checkbox></ion-checkbox>
        <ion-label>{{step.name}} </ion-label>
      </ion-item>
      <ion-item>
        <ion-input type="string" (ionBlur)="addStep()" [(ngModel)]="newStepString"
          [ngModelOptions]="{standalone: true}">
          <ion-button size="small" (click)="addStep()" fill="clear">
            <ion-icon slot="start" name="add-circle-outline" size="large"></ion-icon>
          </ion-button>
        </ion-input>
      </ion-item>


      <ion-item-divider></ion-item-divider>
      <ion-item>
        <ion-label>Start Date</ion-label>
        <ion-datetime ngModel name="startDate" value="2020-07-19" placeholder="Select Date">
        </ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Ends</ion-label>
        <ion-datetime ngModel name="endDate" value="2020-09-20" placeholder="Select Date"></ion-datetime>
      </ion-item>

      <ion-item-divider></ion-item-divider>
      <ion-item>
        <ion-textarea ngModel name="desc" placeholder="Füge deinem Ziel eine Beschreibung hinzu..."></ion-textarea>
      </ion-item>
      <ion-item-divider></ion-item-divider>
    </ion-list>


    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-button type="submit" color="dark" expand="block" [disabled]="!f.valid">
          Ziel Speichern
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>